.idea
target
.settings
.classpath
.project
bin
.idea/
.sonar
*.springBeans
*.log
*.log.*
/*/*.*.log
.idea/
*.iml
.project
.settings/
logs/
target/
*/**/target/**
.classpath
**/*.iml
/bin/
.metadata/**
Servers/**

